[user]
	name = Kaleb McKone
	email = 20476319+krmckone@users.noreply.github.com

[credential]
	helper = osxkeychain

[pull]
	rebase = false
# Use a pager for large output, just like other git commands.
[pager]
  difftool = true

[core]
  editor = nvim
